/*  
URL: http://etterstudio.com
Author: Etter Studio Ltd., Switzerland, 2018, etterstudio.com
All rights reserved.
*/

@font-face {
    font-family: 'etter-book';
    src: url('fonts/etter/EtterCI-Book.eot');
    src: url('fonts/etter/EtterCI-Book.eot') format('embedded-opentype'),
         url('fonts/etter/EtterCI-Book.woff') format('woff'),
         url('fonts/etter/EtterCI-Book.ttf') format('truetype'),
         url('fonts/etter/EtterCI-Book.svg#CircularStdBookRegular') format('svg');
}

@font-face {
	font-family: 'etter-medium';
	src: url('fonts/etter/EtterCI-Medium.eot');
	src: url('fonts/etter/EtterCI-Medium.eot') format('embedded-opentype'),
		url('fonts/etter/EtterCI-Medium.woff') format('woff'),
		url('fonts/etter/EtterCI-Medium.ttf') format('truetype'),
		url('fonts/etter/EtterCI-Medium.svg#CircularStdMediumRegular') format('svg');
}

@font-face {
	font-family: 'roboto';
	src: url('fonts/roboto/RobotoMono-Light.ttf') format('truetype');
}
 
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 20px;
	font-family: etter-medium, sans-serif; 
	color: #fff;
	background-color: #000033;
}

#canvas {
	position: fixed;
	width:100%;
	height:100%;
	z-index:1;
}

#container {
	width:100%;
}

.content  {
	z-index: 3;
	position:relative;
	margin: auto;
	max-width: 800px;
	padding: 24px;
	transition: 0.6s;
}

.image  {
	position:relative;
	margin: auto;
	max-width: 800px;
	margin-bottom:128px;
	background-color: #000033;
}

.middled {
	width:100%;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.image img  {
	z-index: 2;
	position:absolute;
	width:100%;
	transition: 1.2s;
    cursor: pointer; 
}

.image img:hover {
	opacity: 0.2;
}

.txtHero {
	font-family: roboto, sans-serif; 
	letter-spacing:12px;
	font-size:64px;
}

.txtTitle {
	font-family:etter-book;
	letter-spacing:-0.25px;
	font-size:32px;
	padding-bottom:32px;
}

.txtRegular {
	font-family:etter-book;
	letter-spacing:0px;
	font-size:32px;
	line-height:38px;
	padding-bottom:128px;
}

.txtSmall {
	font-family:etter-book;
	letter-spacing:0px;
	font-size:24px;
	padding-bottom:36px;
}

.txtCaption {
	position:absolute;
	font-family:etter-book;
	letter-spacing:0.5px;
	font-size:24px;
	padding:48px;
}

.button  {
	float:right;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    cursor: pointer; 
	transition: 0.8s;
	display: inline-block;
	user-select: none;
    color: #000033;
    background: #00ffcc;
}

.button:hover {
	background:#fff;
}

.txtBlack {
	color:#000;
}

.txtGrey {
	color:#999;
}

.txtWhite {
	color:#fff;
}

.txtColor {
	color:#00ffcc;
}

a {
	text-decoration:none;
	color:#00ffcc;
}

@media only screen and (max-width:800px) {

	.txtHero {
		font-size:28px;
	}
	
	.txtTitle {
		letter-spacing:-0.25px;
		font-size:20px;
		padding-bottom:12px;
	}
	
	.txtRegular {
		letter-spacing:0px;
		font-size:20px;
		line-height:24px;
		padding-bottom:64px;
	}

	.txtSmall {
		letter-spacing:0px;
		font-size:14px;
		padding-bottom:36px;
	}

	.txtCaption {
		letter-spacing:0px;
		font-size:15px;
		padding:24px;
	}

}